/*Cabeçalho*/
.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal-nav{
    display: flex;
}
.cabecalhoPrincipal-nav-link-app {
  order: -1;
}
/*Rodapé*/
.rodapePrincipal-patrocinadores .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}
.rodapePrincipal-contatoForm-fieldset{
  display: flex;
}
/*Mapa de Cursos*/
.rodapePrincipal-navMap-list {
  display: flex;;
  flex-flow: column wrap;
  height: 260px;
}
/*Nossos Cursos*/
.conteudoPrincipal-cursos{
  display: flex;
  flex-wrap: wrap;
  gap: auto;
}
.conteudoPrincipal-cursos-link{
  width: 23%;
}
/*Video*/
.videoSobre .container{
  display: flex;
  justify-content: space-between;
}
.videoSobre-sobre{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 2;
}
.videoSobre-sobre-list{
  flex-grow: 1;
}
.videoSobre-video{
  flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  .cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }
  .cabecalhoPrincipal-nav{
    flex-direction: column;
  }
  /*Nossos Cursos*/
  .conteudoPrincipal-cursos{
    flex-direction: row;
  }
  .conteudoPrincipal-cursos-link{
    width: 100%;
  }
  /*Mapa de Cursos*/
  .rodapePrincipal-navMap-list {
    height: auto;
  }
  /*Rodapé*/
  .rodapePrincipal-patrocinadores .container{
    flex-direction: column;
  }
  .rodapePrincipal-patrocinadores-list{
    width: 100%;
  }
    /*Video*/
    .videoSobre .container{
      flex-direction: column;
    }
    .videoSobre-video{
      margin: 0 auto;
    }
}